<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/Example.php</directory>
        </exclude>
    </coverage>
    <logging>
        <junit outputFile="coverage.xml"/>
        <testdoxHtml outputFile="coverage.html"/>
    </logging>
</phpunit>